.slider-btn {
    all: unset;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 1rem;
    cursor: pointer;
}

img{
    transition: translate 300ms ease-in-out ;
}

.slider-btn>* {
    fill: black;
    width: 2rem;
    height: 2rem;
}

body,
html,
#app {
    height: 100%;
}

.slider-parent{
    background-image: url('../../../public/img/images.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}