*,
*::before,
*::after {
    box-sizing: border-box;
}

.slider-btn {
    all: unset;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 1rem;
    cursor: pointer;
}

.slider-btn>* {
    fill: white;
    width: 2rem;
    height: 2rem;
}