*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
.btn {
    @apply bg-amber-500 hover:bg-amber-600 px-4 py-2
}
}